<!DOCTYPE html>
<html>
    <head>
        <title><%= full_title(yield(:title)) %></title>
        <%= csrf_meta_tags %>
        <meta name="viewport" content="width=device-width" />
        <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= render 'layouts/shim' %>
    </head>

    <body>
        <br><br>
        <%= render 'layouts/header' %>

        <div class="container">

            <% flash.each do |message_type, message| %>
            <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
            <% end %>

            <%= yield %>

            <%= render 'layouts/footer' %>
        </div>
        <script>
        $('.carousel').carousel({
           interval: 5000
         })
        </script>
    </body>
</html>
